@import './all.css';
/* 共同樣式 */

/* 食譜詳情頁面樣式 */
.recipe-detail {
    margin: 0 10%;
    padding: 20px;

}

/* 導航面包屑 */
.breadcrumb {
    border-top: 1px solid #e7e7e7;
    padding: 20px 0;
    font-size: 1.1em;
}

.breadcrumb a {
    color: #007bff;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

/* 用戶資訊 */
.user-info {
    display: flex;
    align-items: center;
}

.user-info p {
    margin-left: 10px;
    color: #777;
}

.user-avatar {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-left: 10px;
}

.user-name {
    font-size: 1.5em;
}

.user-link {
    display: flex;
    align-items: center;
}

/* 刪除按鈕 */
.delete-button {
    display: none;
    padding: 5px 10px;
    margin-left: auto;
    background-color: #e24040;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
}

.delete-button:hover {
    background-color: #ce1c1c;
}

/* 食譜介紹 */
.recipe-header {
    display: flex;
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;
}

.recipe-header:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.left-section {
    width: 50%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    object-position: center;
    margin-right: 20px;
    border-radius: 5px;
}

.right-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 12px;
}

.recipe-date {
    color: #777;
    margin-bottom: -30px;
    margin-left: auto;
}

.recipe-title {
    font-size: 2em;
    color: #333;
}

.portion-time {
    display: flex;
    align-items: center;
    gap: 10px;
}

.portion-time img {
    width: 20px;
}

.portion-time span {
    margin-right: 20px;
}

.rating {
    font-size: 1em;
    color: #777;
}

.rating span {
    margin: 0 15px;
    color: rgb(255, 196, 0);
}

.recipe-tag .tag {
    background-color: #a0d468;
    color: #fff;
    padding: 4px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 1em;
}

.recipe-description {
    font-size: 1.2em;
    color: #555;
}

.recipe-click {
    display: flex;
    margin-top: auto;
    font-size: 1em;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.recipe-click button {
    display: flex;
    align-items: center;
}

.like-button,
.comment-button,
.bookmark-button,
.share-button {
    border: none;
    background-color: transparent;
    border-radius: 5px;
    padding: 4px 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.recipe-click img {
    width: 30px;
    margin-right: 10px;
}

/* 食譜資訊 */
.recipe-info {
    display: flex;
    gap: 20px;
}

.ingredient,
.seasoning,
.nutrition {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    letter-spacing: 2px;
}

.ingredient:hover,
.seasoning:hover,
.nutrition:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section-title {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.ingredient table,
.seasoning table,
.nutrition table {
    width: 100%;
}

.ingredient table td,
.seasoning table td,
.nutrition table td {
    width: 50%;
    padding: 5px 0;
}

/* 製作步驟 */
.recipe-steps {
    margin: 30px 0;
}

.recipe-steps h2 {
    font-size: 2em;
    color: #333;
}

.recipe-step {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.recipe-step:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.recipe-step img {
    width: 300px;
    border-radius: 5px;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;
}

.recipe-step>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 10px;
}

.recipe-step p {
    font-size: 1.2em;
    color: #3b3b3b;
}

.not-found-img {
    border: 1px solid #ccc;
}

/* 用戶評論 */
.comments h2 {
    font-size: 2em;
    color: #333;
}

.comments .comment {
    border-bottom: 1px solid #e7e7e7;
    padding: 10px;
}

.comment-user-avatar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-user-avatar img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

div.comment-user-avatar span {
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
}

.comment p {
    line-height: 1.2;
    margin: 10px 0 5px 5px;
}

.comment span {
    color: #999;
    font-size: 0.85rem;
    margin: 10px 5px;
}

.comments form {
    margin-top: 10px;
    padding: 10px;
}

.comments textarea {
    resize: none;
    width: 100%;
    height: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    scrollbar-width: none;
}

.comments textarea::-webkit-scrollbar {
    display: none;
}

.comments button {
    border: none;
    background-color: #4CAF50;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.comments button:hover {
    background-color: #45a049;
}

.comments button:active {
    background-color: #3e8e41;
    transform: scale(0.98);
}

/* 最新/推薦食譜 */
.related-recipes {
    margin: 20px 10px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.related-recipes h2 {
    margin: 5px 0 0 10px;
}

.related-carousel {
    display: flex;
    padding: 5px 15px 15px 15px;
    gap: 15px;
    /* 設定卡片之間的間距 */
    overflow-x: auto;
    /* 允許橫向滾動 */
    cursor: grab;
    /* 更改鼠標圖標 */
    scrollbar-width: none;
    /* Firefox 隱藏滾動條 */
}

/* 隱藏滾動條 */
.related-carousel::-webkit-scrollbar {
    display: none;
}

.related-recipe-card {
    width: 300px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 10px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.related-recipe-card:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.related-recipe-card img {
    width: 100%;
    height: 240px;
    border-radius: 5px;
    object-fit: cover;
}

.related-recipe-card h3 {
    margin: 5px 0;
}

.related-recipe-card p {
    color: #666;
    padding: 0 10px;
    margin-bottom: 10px;

    max-height: 3em;
    /* 3 行，每行 1.5em */
    line-height: 1.5em;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.related-recipe-card .tags {
    display: flex;
}

.related-recipe-card span {
    background-color: #a0d468;
    color: #fff;
    border-radius: 5px;
    padding: 3px;
    margin: 5px 0 10px 10px;
}

.related-recipe-card .actions {
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    /* 這行確保 actions 貼齊最底部 */
}

.related-recipe-card .actions a {
    color: #f16e3f;
    margin: 10px;
}

.related-recipe-card button {
    background-color: #ff7f50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.related-recipe-card .actions a:hover {
    font-weight: 600;
}

.related-recipe-card button:hover {
    background-color: #ff4500;
}

/* 分享選單 */
.share-menu {
    display: none;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    padding: 5px 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    z-index: 10;
}

.share-menu img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.share-menu button {
    cursor: pointer;
    border: none;
    width: 80px;
    height: 100px;
    /* background-color: #e3e3e3; */
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    transition: transform 0.2s;
}

.share-menu button:hover {
    transform: scale(1.03);
}

/* 分享遮罩 */
#overlay {
    display: none;
    /* 初始隱藏 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    /* 淺灰色背景，帶點透明度 */
    z-index: 5;
    /* 確保遮罩層在其他元素之上 */
}

@media (max-width: 1024px) {
    .recipeSelector-container {
        width: 800px;
    }

}

@media (max-width: 768px) {}


@media (max-width: 540px) {
    .share-menu button {
        width: 60px;
        height: 80px;
        background-color: #fff;
    }

    .share-menu img {
        margin: 0;
    }
}

@media (max-width: 0) {}