html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: top 0.3s ease-in-out;
    /* 添加過渡效果 */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 導覽列 */
.nav-container {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    top: 100px;
    transition: height 0.5s;
}

/* 固定導覽列 */
nav.fixed-nav {
    position: fixed;
    flex-direction: row;
    top: 0px;
    background-color: white;
    width: 100%;
    height: 60px;
    z-index: 1000;
}

nav.fixed-nav .member-menu {
    order: 3;
}

nav.fixed-nav .logo-container {
    order: 1;
    margin: 0 100px;
}

nav.fixed-nav .logo-container img {
    width: 100%;
    height: 60px;
    border-radius: 50px;
}

nav.fixed-nav .logo-container .site-title {
    font-size: 1.6em;
}

nav.fixed-nav .menu-container {
    order: 2;
    margin: 0 auto;
}

/* 第一列 */
.member-menu {
    margin-left: auto;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.member-menu a {
    position: relative;
}

.member-menu img {
    width: 30px;
}

#login-out {
    padding: 3px 6px;
    font-size: 1em;
    font-weight: 600;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
#login-out:hover {
    background-color: #e3ffac;
    transition: background-color 0.3s, color 0.3s;
}

.tooltip {
    visibility: hidden;
    background-color: #8f8f8f;
    color: #fff;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    /* 提示框的位置 */
    top: 120%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
}

.member-menu a:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* 第二列 */
.logo-container {
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.logo {
    width: 120px;
    border-radius: 70px;
}

.site-title {
    font-size: 2em;
    margin-left: 20px;
    color: darkgreen;
}

/* 第三列 */
.menu-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin-top: -10px;
}

.main-menu {
    display: flex;
    list-style: none;
}

ul li {
    margin: 0 15px;
    position: relative;
}

ul a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.submenu>li {
    margin: 10px 22px;
}

ul.submenu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: -8%;
    background-color: white;
    list-style-type: none;
    z-index: 1;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown:hover .submenu {
    visibility: visible;
    opacity: 1;
}


.main-menu a:hover {
    color: #4CAF50;
}

.recipe-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 固定導覽列搜尋區塊修正 */
.fixed-recipe-actions {
    padding-top: 300px;
}

/* 搜尋區塊 */
.search-container {
    display: flex;
    margin: 30px 60px;
    align-items: center;
}


.search-container label {
    font-size: 1.5em;
    font-weight: bold;
}

.search-container form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 60%;
    max-width: 500px;
    margin: 0 10px;
}

.search-container button {
    padding: 5px;
    margin: 5px;
    background-color: #3e9741;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    transition: background-color 0.3s, color 0.3s;
}

.search-container .search-icon {
    width: 24px;
    padding: 2PX;
}


.search-container button:hover {
    background-color: #a0d468;
}

.upload-button {
    background-color: #fff;
    color: #3e9741;
    padding: 6px;
    border-radius: 5px;
    font-size: 1.1em;
    border: 2px solid #3e9741;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.upload-button:hover {
    background-color: #3e9741;
    color: #fff;
}

/* 回到頂部 */
#back-to-top {
    display: none;
    /* 預設隱藏 */
    position: fixed;
    bottom: 150px;
    right: 40px;
    z-index: 100;
    cursor: pointer;
    transition: opacity 0.3s;
}

#back-to-top.up-arrow {
    width: 40px;
    height: 40px;
}


/* 頁尾 */
footer {
    background-color: #02210a;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
}

.footer-links a {
    margin: 5px 10px;
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.social-media-icons a {
    margin: 0 10px;
    width: 36px;
}

.social-media-icons img {
    width: 100%;
}

.footer-container p {
    margin: 10px;
}

/* 登入登出 Modal 背景 */
.modal {
    display: none;
    /* 預設隱藏 */
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* 登入登出 Modal 內容 */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
}

/* 登入登出 關閉按鈕 */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}