html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: top 0.3s ease-in-out;
    /* 添加過渡效果 */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

ul {
    list-style: none;
}

/* 導覽列 */
.nav-container {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    top: 100px;
    transition: height 0.5s;
}

/* 固定導覽列 */
nav.fixed-nav {
    position: fixed;
    flex-direction: row;
    top: 0px;
    background-color: #f9f9f9;
    width: 100%;
    height: 60px;
    z-index: 100;
}

nav.fixed-nav .member-menu {
    order: 3;
    margin: 0;
}

nav.fixed-nav .logo-container {
    order: 1;
    margin: 0 0 0 100px;
}

nav.fixed-nav .logo-container img {
    width: 100%;
    height: 60px;
    border-radius: 50px;
}

nav.fixed-nav .logo-container .site-title {
    font-size: 1.8em;
}

nav.fixed-nav .menu-container {
    order: 2;
    margin: 0 auto;
}

nav.fixed-nav .main-menu li {
    /* gap: 30px; */
    /* padding-top: 10px; */
}

nav.fixed-nav ul.main-menu a {
    padding: 15px 15px;
    font-size: 1.2em;
}

nav.fixed-nav ul.submenu {
    top: 57px;
}

nav.fixed-nav ul.submenu>li a {
    padding: 10px 20px;
}

/* 第一列 */
.member-menu {
    margin-left: auto;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.login-register {
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
}

.member-menu a {
    position: relative;
}

.member-menu img {
    width: 30px;
}

.login-status {
    font-size: 1.2em;
    font-weight: bold;
}

.login-out {
    display: none;
    padding: 3px 6px;
    font-size: 1em;
    font-weight: bold;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.login-out:hover {
    border-color: #4CAF50;
    color: #4CAF50;
    transition: border-color 0.3s, color 0.3s;
}

.user-state {
    font-size: 1.1em;
}

.tooltip {
    visibility: hidden;
    background-color: #8f8f8f;
    color: #fff;
    width: auto;
    white-space: nowrap;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 120%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
}

.login-register:hover .tooltip,
.member-menu a:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* 第二列 */
.logo-container {
    margin: -50px 0 10px 0;
    display: flex;
    align-items: center;
}

img.logo {
    width: 120px;
    border-radius: 70px;
}

.site-title {
    font-size: 2em;
    margin-left: 20px;
    color: darkgreen;
}

/* 第三列 */
.main-menu {
    display: flex;
}

ul.main-menu li {
    position: relative;
}

ul.main-menu a {
    display: block;
    width: 100%;
    padding: 0 30px 10px 30px;
    /* padding-bottom: 10px; */
    color: black;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

ul.submenu {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    width: 80%;
    top: 37px;
    left: 10px;
}

/* ul.submenu>li {
    margin: 10px 0;
} */

ul.submenu>li a {
    /* display: block; */
    padding: 10px 20px;
}

.dropdown:hover .submenu {
    visibility: visible;
    opacity: 1;
}


.main-menu a:hover {
    color: #4CAF50;
}

.recipe-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 漢堡選單 */
/* 預設：大螢幕時讓主要選單呈現，漢堡選單隱藏 */
#hamburger-menu {
    display: none;
}

/* 固定導覽列搜尋區塊修正 */
.fixed-recipe-actions {
    padding-top: 300px;
}

/* 搜尋區塊 */
.search-container {
    display: flex;
    margin: 30px 60px;
    align-items: center;
}

.search-container label {
    font-size: 1.5em;
}

.search-container form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-input {
    padding: 6px 30px 6px 6px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 10px;
}

#clear-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.6em;
    color: #888;
    margin: 0 10px 0 -32px;
    visibility: hidden;
}

#clear-btn.show {
    visibility: visible;
}

#clear-btn:hover {
    color: #333;
    /* 滑鼠懸停效果 */
}

#search-btn {
    padding: 5px;
    margin: 5px;
    background-color: #3e9741;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    transition: background-color 0.3s, color 0.3s;
}

#search-btn .search-icon {
    width: 24px;
    padding: 2PX;
}

#search-btn:hover {
    background-color: #a0d468;
}

.upload-button {
    background-color: #fff;
    color: #3e9741;
    padding: 6px;
    border-radius: 5px;
    font-size: 1.1em;
    border: 2px solid #3e9741;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.upload-button:hover {
    background-color: #3e9741;
    color: #fff;
}

/* 回到頂部 */
#back-to-top {
    width: 40px;
    height: 40px;
    display: none;
    /* 預設隱藏 */
    position: fixed;
    bottom: 150px;
    right: 40px;
    z-index: 100;
    cursor: pointer;
    transition: opacity 0.3s;
}

#back-to-top.show {
    display: block;
}


/* 頁尾 */
footer {
    background-color: #02210a;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
}

.footer-links a {
    margin: 5px 10px;
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.social-media-icons a {
    margin: 0 10px;
    width: 36px;
}

.social-media-icons img {
    width: 100%;
}

.footer-container p {
    margin: 10px;
}

/* 登入登出 Modal 背景 */
.modal {
    display: none;
    /* 預設隱藏 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-container h2 {
    margin-bottom: 15px;
}

/* 登入登出 Modal 內容 */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    /* 垂直 10% 空間，上下置中 */
    padding: 30px;
    border: none;
    max-width: 500px;
    position: relative;
    /* 加入圓角和陰影使區塊更柔和 */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* 淡淡的漸層背景，從較輕到較深，呈 135 度方向 */
    background: linear-gradient(150deg, #fff9e6 0%, #ffd89b 100%);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-primary {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #85bb70;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-primary:hover {
    background-color: #79ab65;
}

#show-login,
#show-register {
    padding: 4px 6px;
    background-color: #85bb70;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#show-login:hover {
    background-color: #79ab65;
}

/* 登入登出 關閉按鈕 */
.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;
}

.close-btn:hover {
    color: #ff6347;
    /* 懸停時改變顏色，提升可點擊性 */
}


/* 垃圾桶樣式 */
#trash-recipes {
    padding: 0 10px;
}

/* 標題樣式 */
#trash-recipes h2 {
    text-align: center;
    color: #333;
    font-size: 1.8em;
    margin-bottom: 20px;
}

/* 單個垃圾項目樣式 */
.trash-item {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 10px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.trash-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 食譜標題樣式 */
.recipe-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #555;
}

/* 永久刪除按鈕樣式 */
.delete-btn {
    justify-content: end;
    margin: 0 20px 0 auto;
    padding: 4px 8px;
    font-size: 1.1em;
    color: white;
    background-color: #e33333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #d81111;
}

/* 復原按鈕樣式 */
.restore-btn {
    padding: 4px 8px;
    font-size: 1.1em;
    color: white;
    background-color: #3b9f53;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.restore-btn:hover {
    background-color: #218838;
}

/* 垃圾桶為空的樣式 */
.empty-message {
    font-size: 1.8em;
    text-align: center;
    color: #888;
    font-style: italic;
}

/* 提示訊息 */
.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    animation: fadeInOut 6s ease;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

/* 整合選單 */
.combint-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

.combint {
    padding: 30px 10px 0 10px;
}

.combint .login-status {
    display: block;
    margin: 20px 0;
}

.combint .member button,
.combint .login-out {
    margin: 0 10px 20px 0;
}

.combint .member a {
    margin-right: 10px;
}

.combint .member img {
    width: 30px;
}

.combint .main a {
    display: block;
    padding-bottom: 20px;
}

@media (max-width: 1300px) {
    nav.fixed-nav .member-menu {
        gap: 10px;
    }

    nav.fixed-nav .logo-container {
        margin: 0 15px;
    }

    nav.fixed-nav .logo-container .site-title {
        font-size: 1.4em;
    }

    nav.fixed-nav .main-menu {
        font-size: 0.9em;
    }

    nav.fixed-nav ul.main-menu a {
        padding: 15px 10px;
    }

    nav.fixed-nav .login-status {
        font-size: 1em;
    }
}

@media (max-width: 1024px) {

    /* LOGO */
    nav.fixed-nav .logo-container {
        margin: 0 30px 0 60px;
    }

    /* 會員 */
    nav.fixed-nav .member-menu {
        margin-left: auto;
        gap: 20px;
    }

    /* 漢堡選單按鈕 */
    nav.fixed-nav #hamburger-menu {
        display: block;
        width: 30px;
        height: 25px;
        position: relative;
        cursor: pointer;
        z-index: 1;
        order: 4;
        margin: 0 20px;
    }

    /* 漢堡按鈕內的橫線 */
    nav.fixed-nav #hamburger-menu span {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background: #333;
        /* 可依需求調整顏色 */
        border-radius: 2px;
        /* left: 0; */
        transition: transform 0.3s ease;
    }

    /* 定義每條橫線的位置 */
    nav.fixed-nav #hamburger-menu span:nth-child(1) {
        top: 0;
    }

    nav.fixed-nav #hamburger-menu span:nth-child(2) {
        top: 10px;
    }

    nav.fixed-nav #hamburger-menu span:nth-child(3) {
        top: 20px;
    }

    /* 漢堡按鈕在 active 狀態下，將第一及第三條旋轉並位移，中間隱藏 */
    nav.fixed-nav #hamburger-menu.active span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    nav.fixed-nav #hamburger-menu.active span:nth-child(2) {
        opacity: 0;
    }

    nav.fixed-nav #hamburger-menu.active span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    /* 下拉選單 */
    nav.fixed-nav .main-menu {
        visibility: hidden;
        position: absolute;
        top: 39px;
        right: 0;
        opacity: 0;
        transform: scale(0.95) translateY(0);
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
        flex-direction: column;

        background-color: #f9f9f9;
        border: 1px solid #ccc;
        border-top: none;
        border-right: none;
        border-radius: 0 0 0 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    nav.fixed-nav .main-menu .submenu {
        background-color: #f9f9f9;
        color: #333;
        border-radius: 0 0 5px 5px;
    }

    /* 選單展開 */
    nav.fixed-nav .main-menu.active {
        visibility: visible;
        opacity: 1;
        transform: scale(1) translateY(20px);
    }
}

@media (max-width: 700px) {

    /* 會員 */
    nav.fixed-nav .member-menu {
        display: none;
    }

    /* 會員 */
    /* nav.fixed-nav .menu-container {
        display: none;
    } */
    nav.fixed-nav .main-menu {
        display: none;
    }

    /* 漢堡選單按鈕 */
    nav.fixed-nav #hamburger-menu {
        margin-left: auto;
    }

    /* 整合選單 */
    nav.fixed-nav .combint-menu {
        transform: translateX(100%);
        transition: transform 0.3s ease, visibility 0.3s ease;
    }

    nav.fixed-nav .combint-menu.active {
        /* display: flex; */
        visibility: visible;
        transform: translateX(0);
    }


    /* nav .main-menu {} */

    /* nav .main-menu.active {} */
}